name: Test Codama Dart

on:
  push:

env:
  NODE_VERSION: 20

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build package
        run: pnpm build

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      # Because e2e have dart example projects, we need to run `dart pub get` in each of them to install their dependencies
      - name: Install Dart dependencies in e2e projects
        run: |
          for d in e2e/*; do
            if [ -f "$d/pubspec.yaml" ]; then
              echo "Running dart pub get in $d"
              (cd "$d" && dart pub get)
            fi
          done

      - name: Test package
        run: pnpm test

      - name: Ensure working directory is clean
        run: |
          git status
          test -z "$(git status --porcelain)"
